.border-card {
  border: 3px solid #5E8D87;
  padding: 9px;
  margin: 13px 3px 3px;
  display: flex;
  flex-direction: column;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #5E8D87;
    top: -20px;
    position: relative;
    background: #373939;
  }
}
